div {
  margin-bottom: 20px;

  label {
    font-weight: bold;
    margin-right: 10px;
  }

  input[type="text"] {
    width: 30%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-transform: uppercase;
  }

  input[type="text"]:disabled {
    cursor: no-drop;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.8);
    font-weight: bold;
    font-style: italic;
  }

  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }

}
